
#banner{
    .carousel-inner{
        .carousel-item{
            width: 100%;
            height: 360px;
            overflow: hidden;
            position: relative;
            border-radius:0;
            img{
                height: 360px;
                object-fit: cover;
                object-position: center;
                transition-duration: 5s;
                transition-delay: 0.5s;
                transition-timing-function: linear;
                @include media-breakpoint-down(md){
                    height: 100%;
                } 
            }
            @include media-breakpoint-down(sm){
                height: auto;
            }
            &::before{
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top:0;
                background: $black;
                opacity: 0.6;
               

            }
            .row{
                width: 100%;
                padding: 0;
                margin: 0;
            }
            .carousel-caption{
                top: auto;
                left: 0;
                right: 0;
                text-align: center;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                transition-duration: 13s;
                transition-delay: 10s;
                transition-timing-function: linear;
                bottom: 0;
                width: 100%;
                h1{
                    font-size: 20px;
                    line-height: 40px;
                    text-align: center;
                    text-transform: capitalize;
                    font-weight: 300;
                    transition-duration: 13s;
                    transition-delay: 13s;
                    margin-top: 0;
                    transition-timing-function: linear;
                    background: #00000047;
                    padding: 10px;
                    width: 100%;
                   @include media-breakpoint-down(sm){
                    font-size: 20px;
                    margin-top: 20px;
                    line-height: 30px;
                   }
                }
                p{
                    transition-timing-function: linear;
                    color: #2ec731;
                    font-size: 16px;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    font-weight: 400;
                    letter-spacing: 2px;
                  @include media-breakpoint-down(sm){
                      display: none;
                  }
                }
            }
        }
    }
  
    
}

