/* footer */

footer{
  .footer-top{
    background: #28a745;
    padding: 40px 0;
    .footer-box{
        h2{
          
            font-size: 20px;
            color: #fff;
            margin-bottom: 16px;
            text-transform: uppercase;
            line-height: 30px;
            font-weight: 500;
            letter-spacing: 1px;

        }
        ul{
            li{
                font-size: 14px;
                color: #ffffffd4;
                font-weight: 300;
                margin-bottom: 15px;
                a{
                    font-size: 14px;
                    color: #ffffffd4;
                    font-weight: 300;
                    display: flex;
                    align-items: center;
                    &:hover{
                        color: #1e7e34;
                    }
                    i{
                        font-size: 13px;
                        margin-right: 10px;
                    }
                  
                }
                
            }
        }
        .address{
            li{
                a{
                    &:hover{
                        color: #1e7e34;
                    }
                    i{
                        font-size: 30px;
                    }
                }
            }
        }
       
    }

  }
    
    .fotter-bottom{
        width: 100%;
        background: #1e8c37;
        .copy-right{
            width: 100%;
            padding: 25px 0;
            p{
                color: #fff;
                font-size: 14px;
                a{
                    color: $black;
                    &:hover{
                        color: #1e7e34;
                    }
                }
            }
    
            ul{
                @include media-breakpoint-down(md){
                    margin-top: 20px;
                }
                li{
                    a{
                        color: $white;
                        font-size: 20px;
                        margin-left: 15px;
                        transition: all ease-in-out 0.5s;
                        &:hover{
                            color: #1e7e34;
                        }
                    }
                }
            }
        }
    }
   
}