// mixin
@mixin transition($property:all){
  transition: $property 1s ease;
}
@mixin translateXmiddle{
  left: 50%;
  transform: translateX(-50%);
}
@mixin translateYmiddle{
  top: 50%;
  transform: translateY(-50%);
}
@mixin translatemiddle{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@mixin transparent-black-gradient{
 background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,.5) 35%,rgba(0,0,0,1) 100%);
}
@mixin overlay($opacity:.35,$height:100%,$bgcolor:#000000) {
  position: absolute;content: "";
  top: 0;
  left: 0;
  height: $height;
  width: 100%;
  background-color: $bgcolor;
  opacity: $opacity;
}
@mixin objectfit($height,$object:cover,$position:top){
  height: $height;
  object-fit: $object;
  object-position: $position;
  width: 100%;
}