header{
  .top-header{
    background: #3D6F3E;
    padding: 9px;
    .social-icons{
      ul{
        justify-content: flex-end;
        @include media-breakpoint-down(md){
          justify-content: flex-start;
        }
        li{
          &:nth-of-type(3){
            a{
              background: #f00;
            }
          }
          &:nth-of-type(2){
            a{
              background: #52bdce;
            }
          }
          margin-right: 5px;
          a{
            background: #0062cc;
            padding: 10px;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
              font-size: 17px;
              color: #ffffff;
            }
          }
          select{
            background: transparent;
            height: 40px;
            font-size: 18px;
            color: #fff;
            border: transparent;
          }
          
        }
        li.log-in{
          margin-right: 6px;
         a{
          color: #fff;
          background: transparent !important;
          white-space: nowrap;
          i{
            font-size: 12px;
          }
         }
        }
      }
    }
    .link-top{
      ul{
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        li{
          line-height: 36px;
          margin-right: 10px;
          @include media-breakpoint-down(md){
            line-height: 25px;
          }
        
          a{
            color: #fff;
            font-size: 12px;
            font-weight: 300;
            @include media-breakpoint-down(md){
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  .middle-flag{
    background: url(../../assets/images/flag.png) #29368f14;
    background-position: center right;
    width: 100%;
    padding: 5px 0;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    @include media-breakpoint-down(md){
      background-position: center top;
      background-size: cover;
    }
    .logo-part{
      .navbar-brand{
        width: 20%;
      }
      align-items: center;
      .top-caption{
        text-align: center;
        width: 60%;
        h4{
          font-size: 22px;
          font-weight: 700;
          color: #4a5568;
          @include media-breakpoint-down(md){
            font-size: 11px;
          }
        }
        h2{
          font-size: 30px;
          font-weight: 700;
          text-align: center;
          color: #4a5568;
          @include media-breakpoint-down(md){
            font-size: 15px;
            color: #000;
          }
          }
        
      }
   
    }
  }
  .header-part{
    width: 100%;
    background: #28a745;
    padding: 13px;
    border-top: solid 2px #1e7e34;
    z-index: 99;
  .navbar-light {
      flex-grow: 1;
      padding: 0;
      @include media-breakpoint-down(md){
        padding: 10px;
      }
      @media (min-width: 992px){
        align-items: flex-start;
      }
  .navbar-nav{
    .nav-tem{width: 100%;}
        a.nav-link{
          margin-left: 11px;
          font-size: 15px;
          text-transform: capitalize;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          font-weight: 600;
      
          @include media-breakpoint-down(md){
            justify-content: flex-start;
          }
          &:hover{
            color: #495057;
            ;
            transition: all 0.3s;
          }
          &:active{
            color:$primary-color-green;
  
          }
        
        }
        
      }
      .navbar-nav.left-nav{
        width: 100%;
        justify-content: flex-start;
        @media (min-width: 992px) and (max-width: 1024px){
          justify-content: flex-end;
        }
      }
     }
  
  .navbar-brand{
      color: #000000;
      font-size: 24px !important;
      font-weight: 900;
       .stikey-logo{
        display: none;
      }
    }
  
  .navbar-collapse {
    @media (min-width: 992px) and (max-width: 1024px){
      flex-direction: column;
    }
      .search-bar {
        margin-left: auto;
        position: relative;
        width: 180px;
        margin: 0 auto;
        @media (min-width:1024px) and (max-width: 1200px){
          width: 100%;
        }
        input{
            position: relative;
            border: solid 1px #eae2e2;
            &:focus{
              box-shadow:none;
            }
            &::placeholder{
              color: #80808047;
            }
          }
          button{
            position: absolute;
            right: 0;
            font-size: 14px;
            top: 0;
            height: 37px;
            &:focus{
              box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
            }
          }
  
          @include media-breakpoint-down(md){
            display: none !important;
          } 
        }
  
  .dropdown{
      &:hover{
        .dropdown-menu {
          opacity: 1;
          padding: 0;
          visibility:visible;
          
        }
      }
  .dropdown-menu {
        color: #808080;
        font-size: 18px;
        font-weight: 200; 
        transition: all  ease-in-out 0.5s;
        opacity: 0;
        display: block;
       line-height: 28px;
       visibility: hidden;
      }
     
    }
    
  }
  
  }
  
}

.sticky{
  position: fixed;
  top: 0;
  z-index: 9
}



@media (max-width: 991px) {
  .header-part .navbar-light .navbar-nav .dropdown-menu{
    display:none !important;
  }
  .header-part .navbar-light .navbar-nav .dropdown-menu.show{
      display: block !important;
  }
  
}
















#header-part .dropdown-item{
  margin-bottom: 10px;
  border-bottom: solid 1px rgba(219, 213, 213, 0.65);
  margin: 0;
  padding: 10px;

}


@media (min-width: 768px) and (max-width: 990px) {
  #menu-top ul li a {
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  #header-part .navbar-brand{
    position: inherit;
    top: 0;
    width: auto;
  }
  #header-part a.active {
    color: #000000;
  }
  #header-part .navbar-brand img{
    width: 100px;
  }
  .sticky{
    padding: 0 !important;
    transform: translate(0);
  }
  #menu-top ul li a{letter-spacing:0;}
}
@media (min-width: 320px) and (max-width:575px) {
  #menu-top ul.left-part-top {
    text-align: center;
  }
  #menu-top .right-part {
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  #header-part .navbar-nav {
    margin-left: auto;
    border-top: solid 1px rgba(255, 255, 255, 0.25);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #header-part .navbar-brand{
    position: relative;
    top:0
  }
  #header-part .navbar-brand{
    top:0 !important;
  }
  #header-part{
    background: #fff;
  }

 

  #header-part .navbar-brand{ padding: 10px 0;}
}



