<!------TOP ------------->
<header>
    <section class="top-header">
          <div class="container">
              <div class="row">
                  <div class="col-lg-7 mr-auto">
                    <div class="link-top">
                        <ul class="d-flex">
                            <li><a href="#">Policy Implementation</a></li>
                            <li><a href="#">Implementation of Multilateral Bilateral Agreements</a></li>
                            <li><a href="#">Resource Mobilisation</a></li>
                        </ul>
                    </div>
                  </div>
                  <div class="col-lg-5">
                      <div class="social-icons">
                          <ul class="d-flex ">
                              <li><a href="#"> <i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#"> <i class="fab fa-twitter"></i></a></li>
                              <li><a href="#"> <i class="fab fa-youtube"></i></a></li>
                              <!-- <li class="log-in"><a href="#"> <i class="far fa-user"></i> Log in</a></li> -->
                              <li>
                                  <select> 
                                      <option>EN</option>
                                      <option>RN</option>
                                  </select>
                            </li>
                           
                          </ul>
                      </div>
                  </div>
              </div>
          </div>              
    </section>
    <section class="middle-flag">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-part d-flex">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/images/logo.png" alt="eee">
                        </a>
                        <div class="top-caption">
                            <h2>Republic of The Gambia </h2>
                              <h4>Ministry of Environment, Climate Change and Natural Resources</h4>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section  class="header header-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
                           
                            <ul class="navbar-nav ml-auto mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link active" href="index.html">Home <span
                                            class="sr-only">(current)</span></a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About us</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <ul>
                                            <li><a class="dropdown-item" href="about-us.html">Introduction</a></li>
                                            <li><a class="dropdown-item" href="vision.html">Vision & Mission</a></li>
                                            <li><a class="dropdown-item" href="organizational.html">Organizational Structure</a></li>
                                            <li>
                                                <a class="dropdown-item" href="mandates.html">Mandates</a>
                                            </li>
                                        </ul>
                                      </div>
                                    
                                </li>
                                
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Departments / Agencies</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Department of Forestry</a>
                                        <a class="dropdown-item" href="#">Parks and Wildlife</a>
                                        <a class="dropdown-item" href="national-environment-agency.html">National Environment Agency</a>
                                      </div>
                                    
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="MEA.html">MEA</a>
                                    
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="EBA.html">EbA Project</a>
                                </li>
                                

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resource Centre</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="documents.html">Documents</a>
                                        <a class="dropdown-item" href="news.html">News & Events</a>
                                        <a class="dropdown-item" href="#">Gallery</a>
                                        <a class="dropdown-item" href="publications-and-reports.html">Publications & Reports</a>
                                      </div>
                                    
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="contact-us.html">Contact us</a>
                                </li>
                                
                            </ul>
                           
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</header>

<!------------Login------------>

